$web-font-path: "https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300&display=swap" !default;
@if $web-font-path {
    @import url($web-font-path);
}

$font-family-sans-serif: "Comic Neue", "Helvetica";
$primary: #E84855;
